@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
  }
  

  body{
    margin: 0;
    padding: 0;
    font-family: Norse-Bold, sans-serif;
  }

  .main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }

  .left {
    background-image: url('./images/cheng-feng-psdV2Rl-GvU-unsplash.jpg');
    width: 40vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    font-family: Norse-Bold, sans-serif;
    
    
  }
  
  .right {
    display: flex;
    flex-direction: column;
    background-color: #b8a3a3;
    width: 65vw;
    
  }

  .first{
    height: 30vh;
    display: flex;
    justify-content: flex-start;
    margin-left: 8%;
    margin-bottom: 5%;
    align-items: flex-end;
  }

  .second {
    height: 40vh;
    background-color: rgb(158, 132, 132);
  }

  .form-main-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .form-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  input{
    width: 200px;
    border: 1px solid #e5e7eb;
    height: 25px;
    border-radius: 5px;
  }

  input:focus{
    border: 1px solid blue;
  }

  input:invalid{
    border: 1px solid red;
  }

  label{
    font-size: 15px;
    color: 2px solid rgb(0, 7, 12);
  }

  .third{
    height: 30vh;
  }