@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
  }
  
  h1 {
    font-family: Norse-Bold, sans-serif;
  }

  body{
    margin: 0;
    padding: 0;
  }

  .main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }

  .left {
    background-image: url('./images/cheng-feng-psdV2Rl-GvU-unsplash.jpg');
    width: 40vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    
  }
  
  .right {
    display: flex;
    justify-content: center;
  }