@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
  }
  

  body{
    margin: 0;
    padding: 0;
    font-family: Norse-Bold, sans-serif;
  }

  .main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }

  .left {
    background-image: url('./images/cheng-feng-psdV2Rl-GvU-unsplash.jpg');
    width: 40vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    font-family: Norse-Bold, sans-serif;
    display: flex;
    flex-direction: column;
    
  }
  
  .right {
    display: flex;
    flex-direction: column;
    background-color: #b8a3a3;
    width: 65vw;
    
  }

  .first{
    height: 30vh;
    display: flex;
    justify-content: flex-start;
    margin-left: 8%;
    margin-bottom: 5%;
    align-items: flex-end;
  }

  .second {
    height: 40vh;
    background-color: rgb(158, 132, 132);
  }

  .form-main-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .form-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  input{
    width: 200px;
    border: 1px solid #e5e7eb;
    height: 25px;
    border-radius: 5px;
  }

  input:focus{
    border: 1px solid blue;
  }

  input:invalid{
    border: 1px solid red;
  }

  label{
    font-size: 20px;
    font-weight: bolder;
    color: 2px solid rgb(0, 7, 12);
  }

  .btn-green{
    background-color: rgb(179, 60, 60);
    color: white;
    border: 1px solid rgb(179, 60, 60);
    border-radius: 5px;
    height: 40px;
    width: 175px;
    font-weight: bolder;
    font-size: medium;
  }

  .third{
    height: 30vh;
    margin: 40px;
    margin-left: 150px;
  }

  .hyperlink{
    margin-bottom: 170px;
    margin-left: 130px;
  }

  a{
    color: rgb(179, 60, 60);
    text-decoration: none;
    font-weight: bold;
  }

  .a-footer{
    color: white;
  }

  .p-footer{
    font-size: 12px;
    text-align: center;
  }

  .forImage{
    height: 40vh;
    display: flex;
    align-items: flex-end;
  }

  .forFooter{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .transparent{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    /* background-color: rgb(117, 21, 85); */
    background-color: black;
    align-items: center;
    opacity: 0.6;
  }